<section id="about" class="about">
  
    

  <div class="about-us-img">
    <div class="bg">
      <div class="bg-overlay"></div>
    </div>
  </div>
  <div class="content">
  <h2>About Us</h2>
  <div class="divider"></div>
  <div class="row fill">
    <div class="col-sm-12 col-xs-12 last-sm first-xs">
      <p>Mike Conte, our president/owner, started in 1981 when the company was known as Florida Discharge Machine. He became a partner in the company in 1997. With his wife, Cindy, Mike purchased the company and real estate in 2007. Mike works side by side with his daughter, Lisa and son, Michael Jr., making it a family run business. Our goal remains the same today as it did 47 years ago; to provide customers a service for general and special processes at a reasonable rate while providing a unique place of employment for the team that drives its success.</p>

    
    </div>
</div>
</div>

</section>