<section id="contact" class="contact">
  <div class="content">
    <h2>Contact</h2>
    <div class="divider"></div>

    <div class="googlemap">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d112864.52194170876!2d-82.81271828304936!3d27.87076930870192!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88c2fb291d1a094b%3A0x21e74c8fd0f98e9f!2sFDM+of+Clearwater+Inc!5e0!3m2!1sen!2sus!4v1532351103493"
        width="600"
        height="450"
        frameborder="0"
        style="border:0"
        allowfullscreen
      ></iframe>
    </div>

    <div class="row fill">
      <div class="col-sm-6 col-xs-12 last-sm first-xs">
        <h3>Employment</h3>

        <p>
          To apply for a job with FDMofClearwater, please send a cover letter
          together with your resume to: FDMofClearwater@aol.com
        </p>

        <div class="divider" style="margin: 3rem 0;"></div>
        <!-- <h3>Hours</h3> -->
      </div>
      <div class="col-sm-6 col-xs-12 first-sm last-xs">
        <h3>Quotes</h3>
        <p>
          For any inquiries or questions regarding quotes please e-mail us at:
          <br />FDMofClearwater@aol.com
        </p>

        <h3>Head Office</h3>
        <p>10850 75th Street <br />Largo, Florida 33777</p>

        <p>
          FDMofClearwater@aol.com<br />Tel: (727)-544-8801<br />Fax:
          (727)-544-8508
        </p>
        <p>Monday - Friday 7:00am to 3:30pm</p>
      </div>
    </div>
  </div>
</section>
