<div class="header">
  <h1>Equipment List</h1>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="equipment">
      <div class="inner">
        <div id="vertical-edm" class="header-image"></div>
        <div class="content">
          <h2>12 Vertical EDM Machines</h2>
          <ul>
            <li>(1) Elox CNC 12-3816 16" x 38" Table</li>
            <li>(2) Elox HRP-109 24" x 40" Table</li>
            <li>(1) Elox HRP-104 16" x 38" Table</li>
            <li>(4) Elox 12-3816 16" x 38" Table</li>
            <li>(4) Elox 8-62 9" x 21" Table</li>
            <p>Machines are capable of EDMing from .25 to 240 amps with tolerance held to .001</p>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="equipment">
      <div class="inner">
        <div id="wire-edm" class="header-image"></div>
        <div class="content">
          <h2>4 CNC Wire EDM Machines</h2>
          <ul>
            <li>(1) 2017 Fanuc C400 iB -Med with dedicated CAMi software 15.7" X, 11.8" Y & 9.8" on Z</li>
            <li>(2) Fanuc Alpha OB Robocut 11.8" X, 7.9" Y & 5.9" on Z</li>
            <li>(1) Fanuc/Elox Series Q-5 Axis 13" x 19" X and Y stroke with 7.5" max cutting heights</li>
            <li>(1) Charmilles Hole Popper wire EDM dedicated for in house use</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="equipment">
      <div class="inner">
        <div id="milling-machines" class="header-image"></div>
        <div class="content">
          <h2>10 Milling Machines</h2>
          <ul>
            <li>(1) Haas TM1 CNC</li>
            <li>(1) Haas TM2 CNC</li>
            <li>(2) Trak DPM 3 Axis Age 3</li>
            <li>(5) Bridgeport Conventional J Series</li>
            <li>(1) Super Max</li>
            <p>Above includes DRO and power feed features, right angle heads, and proprietary custom made offset head</p>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="equipment">
      <div class="inner">
        <div id="grinding-equipment" class="header-image"></div>
        <div class="content">
          <h2>Grinding Equipment</h2>
          <ul>
            <li>(5) Harig 6x12 Surface Grinders</li>
            <li>(2) 6x18 Clausing Surface Grinders</li>
            <li>(1) Gallmeyer/Livingston w/12" x 36" Chuck</li>
            <li>(1) Myford ID-OD Cylindrical Grinder</li>
            <li>(1) #18 Blanchard with 36" dia chuck</li>
            <p>Above equipment is supported by various Microgrinds, Harig and Newbould indexable grind-alls, radius and angle dressers and proprietary thread grinding equipment</p>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="equipment">
      <div class="inner">
        <div id="lathes" class="header-image"></div>
        <div class="content">
          <h2>Lathes</h2>
          <ul>
            <li>(1) Supermax CNC 6" x 16" Throat with Fanuc Control</li>
            <li>(1) Clausing Colchester 13 x 36</li>
            <li>(1) Clausing Clone 14 x 40- DRO</li>
            <li>(1) Hardinge Clone 6 x 18 - DRO</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="equipment">
      <div class="inner">
        <div id="misc-equipment" class="header-image"></div>
        <div class="content">
          <h2>Miscellaneous Equipment</h2>
          <ul>
            <li style="text-indent: 0; margin-left: 0;">Wellsaw #1000W, Do-All, U36 Band Saw Dake 50-Ton Hydraulin Press Westoff Horizontal Drill, Belt Sanders, Bench Grinders, Tumblers, etc... Hydraulic Die Carts 6000 LB Fork Lift</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="equipment">
      <div class="inner">
        <div id="inspections-equipment" class="header-image"></div>
        <div class="content">
          <h2>Inspection Equipment</h2>
          <ul>
            <li>(1) Mitutoyo Crysta PM-574 CMM X-19.69", Y-27.56", Z-15.75"</li>
            <li>(1) Brown & Sharpe Microhite 600</li>
            <li>(2) Mitutoyo PHA-14 Profile projector with 10x & 20x Power Lenses</li>
            <li>(8) Granite Surface Plates</li>
            <p>Certified Gauge Blocks and all other necessary precision measuring tools</p>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>