<section id="about" class="about">
  <div class="content">
    <h2>Quality Service</h2>
    <div class="divider"></div>

    <!-- <div class="about-us-img">
      <div class="bg">
        <div class="bg-overlay"></div>
      </div>
    </div> -->

    <div class="row fill">
      <div class="col-sm-12 col-xs-12 last-sm first-xs">
        <p>Experience in EDM processes includes blind holes, pockets, hidden areas, irregular shapes, contours, precision keyways, hexes, slots, splines, rosan serrations, threads, turbine blades and components, threaded holes in hardened steel, stellite and much more.</p>
        <p>We can wire EDM to 9.8" thick with our newest addition, a 2017 Fanuc 5 Axis 400 iB Med wire EDM machine with taper, depending on thickness. We offer Blanchard grinding great for cleanup purposes to 36" diameter, and wet flat grinding with a 12" x 36" chuck, and 3 Axis CNC machining with 16" x 40" XY travel.</p>
        <p>We also manufacture fill nozzles, custom machine parts, and fixtures for gluing, testing, holding, etc... built to your specs and design, or from reverse engineering. With our onsite reverse engineering, drawings are not required in most cases.</p>

      
      </div>
  </div>
  </div>

  <div class="content">
      <h2>Industries Served</h2>
      <div class="divider"></div>

      <div class="row fill" style="margin-top: 42px;">
          <div class="col-xs-12 col-sm-6 center-xs middle-xs">
            <img src="/assets/pics/services/aerospace-min.jpg" alt="">
            <h3>Aerospace</h3>
    
          
          </div>

          <div class="col-xs-12 col-sm-6 center-xs middle-xs">
            <img src="/assets/pics/services/comms-min.jpg" alt="">
            <h3>Communications</h3>
          
            </div>
      </div>
      <div class="row fill" style="margin-top: 42px;">
          <div class="col-xs-12 col-sm-6 center-xs middle-xs">
            <img src="/assets/pics/services/medical-min.jpg" alt="">
            <h3>Medical</h3>
    
          
          </div>

          <div class="col-xs-12 col-sm-6 center-xs middle-xs">
            <img src="/assets/pics/services/military-defense-min.jpg" alt="">
            <h3>Military Defense</h3>
          
            </div>
      </div>
      <div class="row fill" style="margin-top: 42px;">
          <div class="col-xs-12 col-sm-6 center-xs middle-xs">
            <img src="/assets/pics/services/packaging-min.jpg" alt="">
            <h3>Packaging/Bottling</h3>
    
          
          </div>

          <div class="col-xs-12 col-sm-6 center-xs middle-xs">
            <img src="/assets/pics/services/gen-manufacturing-min.jpg" alt="">
            <h3>General Manufacturing</h3>
          
            </div>
      </div>
  </div>
  
</section>