

<div class="body">
    <div class="hero">
      <div class="bg">
        <div class="bg-overlay">
          <div class="content">
            <h1>Welcome to FDM of Clearwater</h1>
            <h2>EDM, Toolmaking, CNC, General Machining, On-Site Reverse Engineering</h2>
            <div class="action">
              <a routerLink="/contact" routerLinkActive="active">Contact Us</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <section id="about" class="about">
      <div class="row">
        <div class="col-xs-12 left">
          <div class="content">
            <!-- <h2>ABOUT US</h2>
            <div class="divider"></div> -->
  
            <p>FDM of Clearwater wants to be your one stop source for all your machining and manufacturing needs. We know your time is valuable, that’s why we deliver the highest quality work at the fastest delivery rates, surpassed by none. We are a full service shop specializing in, but not limited to, EDM, tool making, general machining, reverse engineering and so much more.</p>
  
            <p>With our in house CMM, we can reverse engineer customer supplied parts and even provide them with part drawings. Our tooling and CNC capabilities provide the opportunity to save you money on short run jobs that can be multi-tooled for optimum efficiency. Services extend well into the bottling and conveyor industries. We are a support shop for many companies, both large and small, in which we manufacture parts to customer supplied specifications or reverse engineered part geometry to keep their lines running and money flowing.</p>
  
            <p>Everyone knows downtime means losing money. So why trust anyone else to provide you with a quick turnaround to get your equipment back up and running? Give us a call. We’re always looking to help businesses maintain their success in the manufacturing world.</p>
          </div>
  
        </div>
        <!-- <div class="col-xs-6 right" style="padding: 0;">
          <div class="bg">
            <div class="bg-overlay">
            </div>
          </div>
        </div> -->
      </div>
    </section>
  
  
    <!-- <div class="clients">
      
    </div>
  
    <div class="picture-section">
      <div class="bg">
        <div class="bg-overlay"></div>
      </div>
    </div> -->
  
    
  
    <!-- <div class="footer">
      <div class="inner">
        <p>© 2023 by FDMofClearwater</p>
      </div>
    </div>
  </div> -->
  